<div class="container">

	<%  if @customer %>
		<h4><%= @customer.username %></h4>
	<% end %>

	<h3>Items in your cart: </h3>

	<h3><%= @id %></h3>
	<h3><%= session[:pending_rent].count(@id) %></h3>
	<h3><%= @film_inventory.count > session[:pending_rent].count(@id) %></h3>

<table class="table">

</table>

	<div>
		<% if @film %>
		<%#= link_to("Checkout", checkout_path(@film), :class => 'btn btn-primary') %>
		<% end %>
	</div>

</div>