<div class="container">

	<%  if @customer %>
		<h4><%= @customer.username %></h4>
	<% end %>

	<h3>Items in your cart:</h3>

	<table class="table">
		<td><%= @item.title %></td>
		<td><%= @item.rental_rate %></td>
	</table><br />

	<div>
		<%= link_to("Checkout", checkout_path(@item), :class => 'btn btn-primary') %>
	</div>

</div>