<div class="container">

<ul class="nav">
	<li><%= link_to("Back to Actors", admin_actors_path) %></li>
</ul>

<%= form_for([:admin, @actor], :method => 'delete') do |a| %>
	<p>Are you sure to delete actor <%= @actor.full_name %>?</p>

	<p><%= a.submit("Delete", class: 'btn btn-danger btn-block') %></p>

<% end %>

</div>
