<div class="container">

<% if !flash[:notice].blank? %>
	<div class="alert alert-warning">
		<strong><%= flash[:notice] %></strong>
	</div>
<% end %>

<ul class="nav">
	<li><%= link_to("Main Menu", admin_access_menu_path) %></li>
</ul>

<input type="text" onkeyup="searchActors(this.value)" class="form-control"><br />

<div id="actors"></div>

<h3><%= link_to("Add new actor", new_admin_actor_path, :class => 'action new') %></h3>

</div>