<div class="container">

<ul class="nav">
	<li><%= link_to("Back to Actors", admin_actors_path) %></li>
</ul>

<table class="table table-striped table-bordered table-hover table-condensed">
	<tr>
		<th><%= @actor.full_name %> played in <%= @actor_films.count %> movies</th>
	</tr>
	
	<% @actor_films.each do |af| %>
		<tr>
			<td><%= af.title %></td>
		</tr>
	<% end %>
</table>

</div>