<div class="container">

<ul class="nav">
	<li><%= link_to("Back to Films", admin_films_path) %></li>
</ul>

<%= form_for([:admin, @film], :method => 'delete') do |a| %>
<p class="text-primary">Are you sure to delete film <%= @film.title %>?</p>

<%= a.submit("Delete", class: 'btn btn-danger') %>

<% end %>

</div>