<div class="container">

	<ul class="nav">
		<li><%= link_to("Main Menu", staff_access_menu_path) %></li>
	</ul>


	<div class="form-group">
		<%= select_tag(:film_id, options_from_collection_for_select(@films, :film_id, :title), 
			prompt: "Select a Film", :onchange => "selectedFilm(this.value)", class: 'form-control' ) %>
	</div>


	<div id="actors"></div>

</div>