<!DOCTYPE html>
<html>
<head>
	<title>Admin's: <%= @customers_page || 'Page'%></title>
	<%= stylesheet_link_tag('admins', :media => 'all') %>
</head>
<body>

<% if !flash[:notice].blank? %>
	<div class="alert alert-warning">
		<strong><%= flash[:notice] %></strong>
	</div>
<% end %>

<!-- before yield -->
	<%= yield %>
<!-- after layout -->

<div id='results'>
	
</div>

</body>
</html>